div {
    margin-left: auto;
    margin-right: auto;
}

#button {
    background-color: #3486C0;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    box-shadow: #1F5275 0px 5px;
    padding: 10px 20px 20px 25px;
    
}   

#button:hover {
    background-color: #3FA1E8;
    box-shadow: none;
}