.row {
    margin-bottom: 10px;
}

.cell {
    padding: 10px;
    margin-left: 1px;
}

#row1 {

}

#row2 {

}

#row3 {

}


.column1 {}
.column2 {}
.column3 {}

.row1 {

}

.row2 {

}

.row3 {

}

#cell1 {}
#cell2 {}
#cell3 {}
#cell4 {}
#cell5 {}
#cell6 {}
#cell7 {}
#cell8 {}
#cell9 {}


